s1/*/td/*.pdf
s1/*/tp/*.pdf
s1/*/cours/*.pdf

s1/*/td/*.synctex.gz
s1/*/tp/*.synctex.gz
s1/*/cours/*.synctex.gz

s1/*/td/*.log
s1/*/tp/*.log
s1/*/cours/*.log

s2/*/td/*.pdf
s2/*/tp/*.pdf
s2/*/cours/*.pdf

s2/*/td/*.synctex.gz
s2/*/tp/*.synctex.gz
s2/*/cours/*.synctex.gz

s2/*/td/*.log
s2/*/tp/*.log
s2/*/cours/*.log

